extends layout

block content
  h2 Database Results
  table 
    tr
    each attribute in header
      th= attribute
    each tuple in data
      tr
        td= tuple.State
        td= tuple.Crime
        td= tuple.Number
