extends layout

block content
  h2 Database Results
  table#resultTable.tablesorter
    thead
      tr
        each attribute in header
          th= attribute
    tbody
      each tuple in data
        tr
          each value in tuple
            td= value
