extends layout

block content
  form(action='/')
    input.back-button(class='click-btn btn btn-primary', type='submit', value='Back')
  h2 Results
  a#downloadJSON downloadJSON
  .scroll
    table#resultTable.tablesorter
      thead
        tr
          each attribute in header
            th= attribute
      tbody
        each tuple in data
          tr
            each value in tuple
              td= value
